:root {
    font-size: 16px;
    font-family: Roboto, "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 72px;
    margin: 1rem auto;
    font-weight: normal;
}

h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 0.7rem auto;
}

h6 {
    font-size: 16px;
    margin: 0.5rem auto;
    font-weight: normal;
}

section {
    overflow: hidden;
}
.hidden {
    position: static;
    display: inherit;
    visibility: hidden;
}

button.primary-button {
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: none;
    margin: 0.5rem auto;
}

/* Header */

.desktop-header {
    display: inherit;
    background-color: #343A40;
}

.mobile-header {
    display: none;
    background-color: #343A40;
}

@media screen and (max-width: 1000px) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: inherit;
    }

    h1 {
        font-size: 48px;
    }

    .work-table .row {
        flex-wrap: nowrap;
    }
    .work-table.container-fluid {
        overflow: scroll;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    display: flex;
}

.nav-item {
    margin: 18px 16px;
    font-size: 16px;
    color: #FFFFFF;
}

.nav-item.logo {
    margin: 14px 24px;
    font-size: 20px;
}

.mobile-header .nav-container {
    justify-content: space-between;
}

/*  MAIN  */

.content-container {
    padding: 1rem 4.5%;
}


#title-section {
    background-color: #E9ECEF;
    overflow: hidden;
}
#account-info {
    background-color: #FFFFFF;
}
#work-list {
    background-color: #FFFFFF;
}


.card{
    background-color: #FFFFFF;
    border: rgba(0, 0, 0, 0.3) solid 1px;
}
.card-title {
    background-color: rgba(0, 0, 0, 0.125);
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
    padding: 10px;
    overflow: hidden;
}
.card-content {
    padding: 10px;
    overflow: hidden;
}
.card-content p {
   margin: 0.25rem auto;
}

.work-table h6 {
    font-weight: bold;
}
.work-table-cage {
    border: rgba(0, 0, 0, 0.3) solid 1px;
    padding: 1rem;
    overflow: hidden;
}
.work-table-static-content{
    color: #007BFF;
}

footer{
    background-color: #F5F5F5;
    color: #6C757D;
}